In [1]:
from main import RandomDatasetGenerator

config = [
    {"name": "age", "type": "integer", "params": {"low": 18, "high": 65}},
    {"name": "income", "type": "float", "distribution": "normal", "params": {"loc": 50000, "scale": 15000}},
    {"name": "name", "type": "name"},
    {"name": "email", "type": "email"},
    {"name": "job", "type": "job"}
]
generator = RandomDatasetGenerator(seed=42)
generator.generate_dataset(n_rows=100, columns_config=config)

,age,income,name,email,job
0,51,56912.244502,Allison Hill,davenportbrandi@example.org,Early years teacher
1,92,51288.852074,Noah Rhodes,tanderson@example.com,Sub
2,14,27350.640767,Angie Henderson,nolanjason@example.org,Cabin crew
3,71,60822.536935,Daniel Wagner,gomezanita@example.com,"Designer, graphic"
4,60,37348.701150,Cristian Santos,sarayoung@example.org,"Accountant, chartered"
...,...,...,...,...,...
95,39,51214.562089,Anna Henderson,mcknightdavid@example.com,Patent attorney
96,84,43753.154547,Aaron Wise,kimberlyjames@example.com,Audiological scientist
97,79,62862.548774,Deborah Figueroa,michelle64@example.net,Emergency planning/management officer
98,81,60771.924197,Jessica Smith,lynchjody@example.org,"Scientist, marine"
99,52,35727.923740,Stephen Mckee,josephmiller@example.org,Medical illustrator